body, html{
  width:100%;
  height:100%;
  font-family:'Raleway';
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: fixed;
}

/*     NAME SECTION    */
.navbar-nav {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size:13px;
  padding-bottom: 10px;
}

h1{
  font-size:20px;
  font-weight:500;
  padding-top: 25px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: inline;
}

#name button{
  font-weight:600;
  text-transform:uppercase;
  margin-top:25px;
  border:none;
  background:transparent;
  cursor:pointer;
}
#name button:focus{
  outline:none;
}
/*    ABOUT SECTION    */
.dot-blank {
  height: 5px;
  width: 5px;
  background-color: #718093;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3px;
}
.dot-green {
  height: 15px;
  width: 15px;
  background-color: #4cd137;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3px;
}
.dot-red {
  height: 15px;
  width: 15px;
  background-color: #e74c3c;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3px;
}
.dot-yellow {
  height: 15px;
  width: 15px;
  background-color: #fbc531;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3px;
}

#about{
  padding:35px 0;
  min-height:500px;
  background-color: #5758BB;
}
.my-name {
  color: #f1c40f;
}
.code{
  margin:0 auto;
  background-color:#718093;
  padding-top:15px;
  border-radius:5px;
  width:100%;
  font-family: "Montserrat";
}
.console{
  padding:40px;
  color:#05c46b;
  margin:0 auto;
  width:100%;
  min-height:450px;
  background-color:#383737;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}

 p.output {
  margin-left: 40px;
  color: #f1c40f;
}

p.output-intro {
  margin-left: 40px;
  color: #FD7272;
}

#about .code-latest-work {
  margin-left: 30px;
}

/*   PROJECTS SECTION  */
#projects{
  padding: 25px 0;
  background-color: #f1f2f6;
}
h3 {
  text-align: center;
  padding-bottom: 75px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.3em;
  font-size: 15px;
  text-transform: uppercase;
}

a.btn {
  background: #0096a0;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
}
.no-touch a.btn:hover {
  background: #00a2ad;
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}
.no-touch a.btn:active,
a.btn:active {
  background: #008a93;
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
  transform: translate3d(0, 1px, 0);
  transition: all 0.025s 0s ease-out;
}
div.cards {
  margin: 80px auto;
  max-width: 960px;
  text-align: center;
}
div.card {
  background: #ffffff;
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  z-index: 1;
}
div.card img {
  max-width: 300px;
}
div.card div.card-title {
  background: #ffffff;
  padding: 6px 15px 10px;
  position: relative;
  z-index: 0;
}
div.card div.card-title a.toggle-info {
  border-radius: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 32px;
}
div.card div.card-title a.toggle-info span {
  background: #ffffff;
  display: block;
  height: 2px;
  position: absolute;
  top: 16px;
  transition: all 0.15s 0s ease-out;
  width: 12px;
}
div.card div.card-title a.toggle-info span.left {
  right: 9px;
  transform: rotate(90deg);
}
div.card div.card-title a.toggle-info span.right {
  left: 9px;
  transform: rotate(-180deg);
}
div.card div.card-title h6 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.12em;
  margin: 0;
  padding: 0;
}
div.card div.card-title h6 small {
  display: block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.025em;
}
div.card div.card-description {
  padding: 0 15px 10px;
  position: relative;
  font-size: 14px;
}
div.card div.card-actions {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
  padding: 10px 15px 20px;
  text-align: center;
}
div.card div.card-flap {
  background: #d9d9d9;
  position: absolute;
  width: 100%;
  transform-origin: top;
  transform: rotateX(-90deg);
}
div.card div.flap1 {
  transition: all 0.3s 0.3s ease-out;
  z-index: -1;
}
div.card div.flap2 {
  transition: all 0.3s 0s ease-out;
  z-index: -2;
}
div.cards.showing div.card {
  cursor: pointer;
  opacity: 0.6;
  transform: scale(0.88);
}
.no-touch div.cards.showing div.card:hover {
  opacity: 0.94;
  transform: scale(0.92);
}
div.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;
}
div.card.show div.card-title a.toggle-info {
  background: #ff6666 !important;
}
div.card.show div.card-title a.toggle-info span {
  top: 15px;
}
div.card.show div.card-title a.toggle-info span.left {
  right: 10px;
  transform: rotate(45deg);
}
div.card.show div.card-title a.toggle-info span.right {
  left: 9px;
  transform: rotate(-45deg);
}
div.card.show div.card-flap {
  background: #ffffff;
  transform: rotateX(0deg);
}
div.card.show div.flap1 {
  transition: all 0.3s 0s ease-out;
}
div.card.show div.flap2 {
  transition: all 0.3s 0.2s ease-out;
}
h6{
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
}

.movie-img {
  height: 225px;
}

.pacman-img {
  height: 225px;
}
.lightsout-img {
  height: 225px;
  width: 300px;
}

.color-img {
  height: 225px;
}

.bitcoin-img {
  height: 225px;
  width: 350px;
}


/*   RESUME SECTION  */


#resume{
  padding:35px 0;
  min-height:500px;
  background-color:#5758BB;
}

h4 {
  text-align: center;
  padding-top: 20px;
}

.btn-light {
  background-color: #F8EFBA;
  border-color: #EAB543;
  border-radius: 100%;
  height: 200px;
  width: 225px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2em;
  font-size: 22px;
}

.btn-light:hover{
  color: #5758BB;
  border-color: #5758BB;
  background-color: #EAB543;
}

h5 {
  color: #f5f6fa;
  padding-top: 100px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.1em;
  padding-bottom: 30px;
}

.progress {
  margin-left: 30px;
  margin-right: 30px;
}

.coding-language {
  font-weight: bolder;
  letter-spacing: 0.1em;
  text-align: center;
}

.progress-bar-csharp {
  background-color: #6c5ce7 !important;
}

.progress-bar-javascript {
  background-color: #ffd32a !important;
}

.progress-bar-swift {
  background-color: #fa8231 !important;
}

.logo-rows {
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #68A063 !important;
    border-color: #5758BB !important;
}

.btn-primary:hover {
    background-color: #303030 !important;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
}

.btn-secondary, .btn-secondary:active, .btn-secondary:visited {
    background-color: #6ab04c !important;
    border-color: #5758BB !important;
}

.btn-secondary:hover {
    background-color: #34495e !important;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
}

.btn-success, .btn-success:active, .btn-success:visited {
    background-color: #30336b !important;
    border-color: #5758BB !important;
}

.btn-success:hover {
    background-color: #7ed6df !important;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
}

.btn-danger, .btn-danger:active, .btn-danger:visited {
    background-color: #8e44ad !important;
    border-color: #5758BB !important;
}

.btn-danger:hover {
    background-color: #9b59b6 !important;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
}

.btn-warning, .btn-warning:active, .btn-warning:visited {
    background-color: #7f8c8d !important;
    border-color: #5758BB !important;
}

.btn-warning:hover {
    background-color: #ecf0f1 !important;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
}

.btn-dark, .btn-dark:active, .btn-dark:visited {
    background-color: #e67e22 !important;
    border-color: #5758BB !important;
}

.btn-dark:hover {
    background-color: #ffbe76 !important;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
}



.active-project-title {
  font-weight: bolder;
  color: #05c46b;
}

.active-project {
  color: #1e272e;
  font-weight: bolder;
}

.active-contain {
  text-align: center;
}


.ani-head {
  padding-bottom: 300px;
  width: 100%;
  height: 100%;
  position: sticky;
}

.content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 160px;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-size: 23px;
  line-height: 40px;
  color: #ecf0f1;
}
.content__container {
  font-weight: 500;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}
.content__container:before {
  content: "[";
  left: 0;
}
.content__container:after {
  content: "]";
  position: absolute;
  right: 0;
}
.content__container:after, .content__container:before {
  position: absolute;
  top: 0;
  color: #f6e58d;
  font-size: 42px;
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}
.content__container__list {
  margin-top: 0;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.content__container__list__item {
  line-height: 40px;
  margin: 0;
}

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@-o-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-o-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@-moz-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-moz-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}


footer{
  text-align: center;
  padding-top: 35px;
}
